html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0
}

.hover-dim-bg:hover{
  background: #333;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  input{
    background: #fff;
    color: #111;
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  input:focus{
    outline: none;
    border-left: 2px solid #222;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
